<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="../../static/souye/css/bootstrap.min.css">
    <!-- Icon Font CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="../../static/souye/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/souye/css/font-awesome.min.css">
    <!-- Plugins CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="../../static/souye/css/plugins.css">
    <!-- Style CSS
    ============================================ -->
    <link rel="stylesheet" type="text/css" href="../../static/souye/css/style.css">
    <!-- Modernizer JS
    ============================================ -->
    <script src="../../static/souye/js/vendor/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../static/jiemian2/css/style.default.css">

    <!--    页面三-->

    <link href="../../static/jiemian3/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/jiemian3/css/style.css"/>
    <link href="../../static/jiemian3/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/jiemian3/assets/css/ace.min.css" />
    <link rel="stylesheet" href="../../static/jiemian3/font/css/font-awesome.min.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../../static/jiemian3/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="../../static/jiemian3/js/jquery-1.9.1.min.js"></script>
    <script src="../../static/jiemian3/assets/js/bootstrap.min.js"></script>
    <script src="../../static/jiemian3/assets/js/typeahead-bs2.min.js"></script>
    <script src="../../static/jiemian3/assets/layer/layer.js" type="text/javascript" ></script>
    <script src="../../static/jiemian3/assets/laydate/laydate.js" type="text/javascript"></script>
    <script src="../static/login/js/jquery.min.js"></script>


</head>

<body onload="test()">
<!-- Body main wrapper start -->
<div class="wrapper fix">

    <!-- Header Area Start -->
    <div id="header-area" class="header-area section">


        <!-- Header Bottom Start -->
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">


                        <!---- Menu ---->
                        <div id="main-menu" class="main-menu onepage-nav collapse navbar-collapse float-right">
                            <nav>
                                <ul>
                                    <li ><a th:href="@{home}">首页</a></li>
                                    <li><a th:href="@{MessageList}">消息<div class="badge badge-warning">[[${count}]] New</div></a></li>
                                    <li><a href="Personordmanager">订单</a></li>
                                    <li><a href="findChildMessage">动态</a></li>
                                    <li><a href="userInfo">个人中心</a></li>


                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom End -->

    </div>
    <div style="height: 10px"></div>
    <form action="upComment">

    <div class="shop_reason" style="margin-top: 10px; position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);" >
      <span class="content">
          <p style="text-align: center" ><h2 style="left: 20px">[[${list.getStorename()}]]</h2></p>
          <p> <h4>店铺评分：</h4></p>
          <table id ="czy">
            <tr>
              <td title="1分"><h1 >★</h1></td><td title="2分"><h1>★</h1></td><td title="3分"><h1>★</h1></td><td title="4分"><h1>★</h1></td><td title="5分"><h1>★</h1></td>
            </tr>
          </table>
          <input type="text"name="grades" id="grades" hidden="hidden">
          <input type="text" name="listid" hidden="hidden" th:value="${listid}">
      </span>
        <textarea name="message1"  class="form-control" id="form_textarea"  onkeyup="checkLength(this);">
      </textarea>
        <span class="wordage">剩余字数：<span id="sy" style="color:Red;">200</span>字</span><br/>
        <input style="text-align: center;margin-left:48%;background: #5bc0de;color: white;" type="submit" id="ok" value="评论">
    </div>
    </form>






</div>
<!-- JS -->

<!-- jQuery JS
============================================ -->
<script src="../../static/souye/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap JS
============================================ -->
<script src="../../static/souye/js/bootstrap.min.js"></script>
<!-- Plugins JS
============================================ -->
<script src="../../static/souye/js/plugins.js"></script>
<!-- Ajax Mail JS
============================================ -->
<script src="../../static/souye/js/ajax-mail.js"></script>
<!-- Main JS
============================================ -->
<script src="../../static/souye/js/main.js"></script>


</body>
</html>
<script>
    /*字数限制*/
    function checkLength(which) {
        var maxChars = 200; //
        if(which.value.length > maxChars){
            layer.open({
                icon:2,
                title:'提示框',
                content:'您输入的字数超过限制!',
            });
            // 超过限制的字数了就将 文本框中的内容按规定的字数 截取
            which.value = which.value.substring(0,maxChars);
            return false;
        }else{
            var curr = maxChars - which.value.length; //减去当前输入的
            document.getElementById("sy").innerHTML = curr.toString();
            return true;
        }
    };
</script>
<style type="text/css">
    .form{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

</style>
<script>
    var te = document.getElementById("czy").getElementsByTagName("td");
    //tds=document.getElementsByTagName("td");
    tds = te;
    for(var i=0;i<tds.length;i++){
        tds[i].onmouseover=test;
    }    var index;
    function  test(){

        for(var i=0;i<tds.length;i++){
            if(tds[i]==this)
            {
                index=i;
            }
        }        for(var i=0;i<=index;i++) {
            tds[i].style.color = "red";
        }        for(var i=index+1;i<tds.length;i++){
            tds[i].style.color="black";
        }
    }
    document.getElementById("ok").onclick=function(){
        document.getElementById("grades").value = index+1;
    }</script>
